body{
    margin: 0;
    background: white;
    text-align: center;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #DCFFFD;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: center;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #DCFFFD;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: white;
  }